#introduction {
    color: aquamarine;
    background-color: tomato;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  
  #my-favourite-color {
    color: white;
    background-color: purple;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  #my-favourite-food{
    color: burlywood;
    background-color: brown;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  #my-hair-color{
    color: gray;
    background-color:green;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  #my-number-of-siblings{
    color: royalblue;
    background-color:chartreuse;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
  }
  section{
    background-color: yellow;
    padding: 10px;
  }